<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="first.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><middle>Fish Shop</middle></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mentors</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </nav>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./images/3.jpg" class="d-block w-100" style="max-height: 95vh; filter: brightness(0.5);">
            <div class="carousel-caption d-none d-md-block">
              <h5>Aquarium-Fish's</h5>
              <p>At low price</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./images/2.jpg" class="d-block w-100" style="max-height: 95vh; filter: brightness(0.5);">
            <div class="carousel-caption d-none d-md-block">
              <h5>Aquarium-Fish's</h5>
              <p>At low price.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./images/1.jpg" class="d-block w-100" style="max-height: 95vh; filter: brightness(0.5);">
            <div class="carousel-caption d-none d-md-block">
              <h5>Aquarium-Fish's</h5>
              <p>At low price.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
    </div>

    <div style="background-color: #fff0ff;">
    <h1 align="center" style="padding-top: 20px">OUR-FISHS</h1>

    <div class="container" style="justify-content: center; display: flex;">
        <!-- <div class="card" style="width: 18rem; margin: 3%;">
            <img src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/45818169/1/?bust=1610706533&width=300" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Retriever</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div> -->
        <% dogs.forEach((dog) => { %>
            <div class="card" style="width: 22rem; margin: 3%;">
                <img src="<%=dog.imageUrl%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= dog.name %></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/dog/<%= dog.id %>" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        <% }) %>
        
        <!-- <div class="card" style="width: 22rem; margin: 3%;">
            <img src="./images/labrador.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Labrador</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 22rem; margin: 3%;">
            <img src="./images/german.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">German Shepard</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div> -->
    </div>
</div>

    <footer class="text-muted py-5">
        <div class="container">
            <h5>Thank you</h5>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>